{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <div class="card">
      <div class="card-header">
        <h4 class="mb-0">Forgot Password</h4>
      </div>
      <div class="card-body">
        {% if error %}
          <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <form method="POST" action="{% url 'forgot-password' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="user_id">LRN</label>
            <input type="text" name="user_id" id="user_id" class="form-control" required>
          </div>
          <div class="form-group mb-3">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary">Send Reset Password Email</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
