{% extends 'base.html' %}

{% block content %}

<div class="container my-4">
  <h2 class="text-center mb-5">All Announcements</h2>

  {% if page_obj.has_other_pages %}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1">&laquo;</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lsaquo;</a>
      </li>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&rsaquo;</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}

  <ul class="list-unstyled">
    {% for announcement in page_obj %}
    <li class="mb-4 border-bottom">
      <h5 class="text-primary"><a href="{{announcement.url}}">{{ announcement.title }}</a></h5>
      <small class="text-muted">{{ announcement.date|date:"F j, Y" }}</small>
      <p class="my-3">{{ announcement.content }}</p>
    </li>
    {% empty %}
    <p>No announcements found.</p>
    {% endfor %}
  </ul>

</div>

{% endblock %}
