{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-md-6 col-sm-12 gx-0">
      <img src="{% static 'images/stem-img.jpg'%}" class="img-fluid object-fit-cover" alt="STEM">
    </div>
    <div class="col-md-6 col-sm-12" id="stem-strand-descrip">
      <h2>What is the STEM strand?</h2>
      <p>The STEM strand offers a wide range of career opportunities for graduates. With the increasing demand for
        professionals in STEM fields, students who graduate from this program have excellent prospects for finding
        well-paying jobs. Some of the career opportunities that are available for STEM graduates include:</p>
      <ul>
        <li><strong>Engineer</strong> - Engineers design and develop new products, processes, and systems. There are
          many different types of engineers, including mechanical engineers, electrical engineers, civil engineers, and
          aerospace engineers.</li>
        <li><strong>Scientist</strong> - Scientists conduct research to discover new knowledge about the world around
          us. There are many different types of scientists, including biologists, chemists, and physicists.</li>
        <li><strong>Data Analyst</strong> - Data analysts analyze and interpret large sets of data to identify patterns
          and trends. They work in a variety of fields, including marketing, finance, and healthcare.</li>
        <li><strong>Architect</strong> - Architects design buildings and structures. They work in a variety of settings,
          including residential, commercial, and industrial.</li>
        <li><strong>Medical professional</strong> - Medical professionals work in a variety of fields, including
          healthcare, biotechnology, and pharmaceuticals. They include doctors, nurses, and researchers.</li>
      </ul>
      <p>Overall, the STEM strand offers students an excellent opportunity to pursue a career in fields that are in high
        demand. Graduates of this program have a wide range of career opportunities available to them, and they are
        well-equipped to meet the challenges of the 21st century.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12" id="humss-strand-descrip">
      <h2>HUMSS Strand</h2>
      <p>In the HUMSS strand, you will explore the complexities of the human experience, from our history and culture to
        our political and social structures. You will develop critical thinking skills and learn to analyze and
        interpret complex ideas and texts. These skills are in high demand in today's fast-paced world, where the
        ability to think critically and communicate effectively is essential for success.</p>
      <p>But the HUMSS strand is much more than just an academic program. It offers a wide range of career
        opportunities, from journalism and law to psychology and social work. You could work in government, non-profit
        organizations, or the private sector. The possibilities are endless.</p>

      <p>At the heart of the HUMSS strand is a commitment to social justice and community engagement. You will learn
        about the issues facing our society today, and be challenged to think critically about how we can create a more
        just and equitable world. You will have the opportunity to engage with your community and make a real difference
        in the world.</p>
      <p>So why choose the HUMSS strand? Because it offers the perfect blend of practical skills, intellectual growth,
        and social engagement. It prepares you for a wide range of careers, while also providing a rich and fulfilling
        educational experience. It is the perfect choice for anyone who wants to make a difference in the world and
        achieve their full potential.</p>
    </div>
    <div class="col-md-6 col-sm-12 gx-0">
      <img src="{% static 'images/humss-img.jpg'%}" class="img-fluid" alt="ABM">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 gx-0">
      <img src="{% static 'images/abm-img.jpg'%}" class="img-fluid" alt="HUMSS">
    </div>
    <div class="col-md-6 col-sm-12" id="abm-strand-descrip">
      <h2>The Accountancy, Business, and Management (ABM) Strand</h2>
      <p>If you're looking for a strand that can provide you with the necessary skills to succeed in the fast-paced
        world of business and finance, then the Accountancy, Business, and Management (ABM) Strand is the perfect choice
        for you.</p>
      <p>In the ABM Strand, you'll learn about the principles of accounting, finance, marketing, and management. You'll
        develop skills in data analysis, problem-solving, and decision-making. You'll also learn about entrepreneurship
        and how to start and run your own business.</p>

      <p>But the ABM Strand isn't just about theoretical knowledge. You'll also have the opportunity to gain practical
        experience through internships, case studies, and simulations. This hands-on experience will give you a
        competitive edge in the job market and help you stand out from the crowd.</p>


      <p>With the ABM Strand, you'll have the skills and knowledge to succeed in any of these fields. You'll also be
        prepared to pursue higher education, such as a Bachelor's degree in Business Administration or Accountancy.</p>

      <p>So why choose the ABM Strand? Because it offers a solid foundation in business and finance, practical
        experience, and a wide range of career opportunities. It's the perfect choice for anyone who wants to succeed in
        the world of business.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12" id="tvl-strand-description">
      <h2>The TVL Track: Your Gateway to a Thriving Career</h2>
      <p>Looking for a career that's both challenging and rewarding? Consider the Technical-Vocational-Livelihood (TVL)
        track, which offers a wide range of practical skills and hands-on experience that can help you succeed in
        today's fast-paced world.</p>
      <p>In the TVL track, you will gain valuable skills in a variety of fields, including hospitality and tourism,
        automotive technology, electrical installation and maintenance, and more. You will learn from experienced
        professionals in the industry, and have the opportunity to apply your knowledge through real-world projects and
        internships.</p>
      <p>But the TVL track is much more than just a vocational program. It also offers a strong academic foundation that
        prepares you for further education and career advancement. You will develop critical thinking skills and learn
        to work effectively in teams, as well as gain a deep understanding of the social and cultural context of your
        chosen field.</p>
      <p>Whether you're just starting out in your career or looking to make a change, the TVL track is an excellent
        choice that can help you achieve your goals. So why wait? Enroll now and take the first step toward a brighter
        future!</p>
    </div>
    <div class="col-md-6 col-sm-12 gx-0">
      <img src="{% static 'images/tvl-img.jpg'%}" class="img-fluid" alt="HUMSS">
    </div>
  </div>
</div>
{% endblock %}