<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark sticky-top" id="home-navigation">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Hello, {{user.first_name}}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'portal-home' %}">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'portal-sched' %}">Class Schedule</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'portal-grade' %}">Student Evaluation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'portal-personal' %}">Student Master File</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'portal-announcements' %}">Announcements</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'portal-module-redirect' %}">Module Repository</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'postman:inbox' %}">Messages</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      
    
</body>
</html>