<!DOCTYPE html>
{% extends 'base.html' %} {% load i18n static %}{% load postman_tags %} {% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teachers' Dashboard</title>
</head>
{% block content%}
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body"></div>
                        <div class="card-title">
                            <h3>Student Information Index</h3>
                        </div>
                        <div class="card-text">
                            <table class="table">
                                <thead class="table-dark">
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Section</th>
                                    <th scope="col">Options</th>
                                </thead>
                                {% for student in students %}
                                <tr>
                                    <td>{{student.last_name}} {{student.first_name}}</td>
                                    <td>{{student.section}}</td>
                                    <td><a href="{% url 'student-info' student.id%}">View</a> <a href="#">Grades</a></td>
            
                                    
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-4">
                <div class="row">
                        <h1>Messaging</h1>
                            <ul id="postman_menu">{% postman_unread as unread_count %}
                            <li><a href="{% url 'postman:inbox' %}">&raquo;&nbsp;{% trans "Inbox" %}{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</a></li>
                            <li><a href="{% url 'postman:sent' %}">&raquo;&nbsp;{% trans "Sent Messages" %}</a></li>
                            <li><a href="{% url 'postman:write' %}">&raquo;&nbsp;{% trans "Write" %}</a></li>
                            <li><a href="{% url 'postman:archives' %}">&raquo;&nbsp;{% trans "Archives" %}</a></li>
                            <li><a href="{% url 'postman:trash' %}">&raquo;&nbsp;{% trans "Trash" %}</a></li>
                            </ul>
                        
                   
                </div>
                <div class="row">
                        <h1>Schedules</h1>
                        
                </div>
                
                
            </div>
        </div>
    </div>
   
    
    
</body>
{% endblock%}
</html>